__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.env/
*.log
logs/
*.swp
*.swo
*.bak
*.tmp
.vscode/
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pid
docker-compose.override.yml
*.sqlite3
*.db
